<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
    <script type="text/javascript" th:src="@{../js/jquery-1.12.4.min.js}"></script>
    <!--引入bootstrp样式-->
    <link rel="stylesheet" th:href="@{../bootstrap-3.3.7-dist/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{../bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
</head>
<body>

<!-- 修改模态框 -->
<div class="modal fade" id="userUpdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改用户</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">username</label>
                        <div class="col-sm-10">
                            <!--<p class="form-control-static" id="username_update_input"></p>-->
                            <input type="text" class="form-control" name="username" id="username_update_input" placeholder="username">
                            <span  class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">password</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="password" id="password_update_input" placeholder="password">
                            <span  class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">tel</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="tel" id="tel_update_input" placeholder="tel">
                            <span  class="help-block"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="user_update_btn">更新</button>
            </div>
        </div>
    </div>
</div>


<!-- 新增模态框 -->
<div class="modal fade" id="userAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加用户</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="username" id="username_add_input" placeholder="username">
                            <span  class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="password" id="password_add_input" placeholder="password">
                            <span  class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">电话</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="tel" id="tel_add_input" placeholder="tel">
                            <span  class="help-block"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="user_save_btn">保存</button>
            </div>
        </div>
    </div>
</div>


<!--<%&#45;&#45;搭建显示页面&#45;&#45;%>-->
<div class="container">
    <!--<%&#45;&#45;标题&#45;&#45;%>-->
    <div class="row">
        <div class="clo-md-12">
            <h4><a href="/manage/logout">登出</a></h4>
        </div>
        <div class="col-md-12">
            <h1>用户信息管理</h1>
        </div>
    </div>
    <!--<%&#45;&#45;按钮&#45;&#45;%>-->
    <div class="row">
        <div class="col-md-4 col-md-offset-11">
            <button class="btn btn-primary" id="user_add_modal_btn">新增</button>
            <button class="btn btn-danger" id="user_delete_all_btn">删除</button>
        </div>
    </div>
    <!--<%&#45;&#45;显示表格数据&#45;&#45;%>-->
    <div class="row">
        <div class="col-md-18">
            <table class="table table-hover" id="users_table">
                <thead>
                <tr>
                    <th><input type="checkbox" id="check_all"/></th>
                    <th>#</th>
                    <th>用户名</th>
                    <th>密码</th>
                    <th>电话</th>
                    <th>文章数量</th>
                    <th>注册时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <!--<%&#45;&#45;显示分页数据&#45;&#45;%>-->
    <div class="row">
        <!--<%&#45;&#45;分页信息&#45;&#45;%>-->
        <div class="col-md-6" id="page_info_area"></div>
        <!--<%&#45;&#45;分页条信息&#45;&#45;%>-->
        <div class="col-md-6" id="page_nav_area"></div>
    </div>
</div>
<script type="text/javascript">
    var totalRecord,currentPage;//总记录数
    //1.页面加载完成以后，直接发送ajax请求，要到分页数据
    $(function () {
        to_page(1);
    });

    //ajax方法
    function to_page(pn) {
        $.ajax({
            url: "http://localhost:8080/manage/users",
            data:"pn="+pn,
            type:"GET",
            success:function (result) {
                //console.log(result);
                //1.解析并显示员工数据
                build_users_table(result);
                //2.解析并显示分页信息
                build_page_info(result);
                //3.解析显示分页条
                build_page_nav(result);
            }
        });
    }

    //解析并显示员工数据
    function build_users_table(result) {
        $("#users_table tbody").empty();
        var users=result.data.list;
        $.each(users,function (index, item) {
            var checkBoxTd=$("<td><input type='checkbox' class='check_item'/></td>");
            var userIdTd=$("<td></td>").append(item.id);
            var usernameTd=$("<td></td>").append(item.username);
            var passwordTd=$("<td></td>").append(item.password);
            var telTd=$("<td></td>").append(item.tel);
            var articleCountTd="<td><a href='http://localhost:8080/manage/articleList/"+item.id+"'>"+item.articleCount+"</a></td>";
            var registerDateTD=$("<td></td>").append(item.registerDate);
            // <button class="btn btn-primary btn-sm">
            //     <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            // 编辑
            // </button>
            var editBtn=$("<button></button>").addClass("btn btn-primary btn-sm edit_btn").append($("<span></span>").addClass("glyphicon glyphicon-pencil")).append("编辑");
            //给编辑按钮添加一个属性，保存用户id
            editBtn.attr("edit-id",item.id);
            var delBtn=$("<button></button>").addClass("btn btn-danger btn-sm delete_btn").append($("<span></span>").addClass("glyphicon glyphicon-trash")).append("删除");
            //给删除按钮添加一个属性，保存用户id
            delBtn.attr("del-id",item.id);
            //给articleCount的a标签添加一个属性，
            //
            //
            //
            //
            //
            // 保存用户id
            //$(".articleListId").attr("href","http://localhost:8080/manage/articleList/"+item.id);
            var btnTd=$("<td></td>").append(editBtn).append(" ").append(delBtn);
            $("<tr></tr>").append(checkBoxTd).append(userIdTd).append(usernameTd).append(passwordTd).append(telTd).append(articleCountTd).append(registerDateTD).append(btnTd).appendTo("#users_table tbody");
        });
    }
    //解析显示分页信息
    function build_page_info(result) {
        $("#page_info_area").empty();
        $("#page_info_area").append("当前"+result.data.pageNum+"页,共有"+result.data.pages+"页,共有"+result.data.total+"条记录");
        totalRecord=result.data.total;
        currentPage=result.data.pageNum;
    }
    //解析显示分页条
    function build_page_nav(result) {
        $("#page_nav_area").empty();
        var ul=$("<ul></ul>").addClass("pagination");
        var firstPageLi=$("<li></li>").append($("<a></a>").append("首页").attr("href","#"));
        var prePageLi=$("<li></li>").append($("<a></a>").append("&laquo;"));
        if (result.data.hasPreviousPage == false){
            firstPageLi.addClass("disabled");
            prePageLi.addClass("disabled");
        }else {
            firstPageLi.click(function () {
                to_page(1);
            });
            prePageLi.click(function () {
                to_page(result.data.pageNum-1);
            });
        }
        //先添加首页和前一页
        ul.append(firstPageLi).append(prePageLi);
        var nextPageLi=$("<li></li>").append($("<a></a>").append("&raquo;"));
        var lastPageLi=$("<li></li>").append($("<a></a>").append("末页").attr("href","#"));
        if (result.data.hasNextPage == false){
            lastPageLi.addClass("disabled");
            nextPageLi.addClass("disabled");
        }else {
            lastPageLi.click(function () {
                to_page(result.data.pages);
            });
            nextPageLi.click(function () {
                to_page(result.data.pageNum+1);
            });
        }



        //遍历分页条
        $.each(result.data.navigatepageNums,function (index, item) {
            var numLi=$("<li></li>").append($("<a></a>").append(item));
            if (result.data.pageNum == item){
                numLi.addClass("active");
            }
            numLi.click(function () {
                to_page(item);
            });
            ul.append(numLi);
        });

        //最后添加末页和后一页
        ul.append(nextPageLi).append(lastPageLi);

        //把ul添加到nav中
        var navElm=$("<nav></nav>").append(ul);
        navElm.appendTo("#page_nav_area");
    }

    //清空表单样式及内容
    function reset_form(ele){
        $(ele)[0].reset();
        $(ele).find("*").removeClass("has-success has-error");
        $(ele).find(".help-block").text("");
    }

    //点击新增按钮弹出模态框
    $("#user_add_modal_btn").click(function () {
        // $("#userAddModal form")[0].reset();
        // $("#username_add_input").parent().removeClass("has-success has-error");
        // $("#email_add_input").parent().removeClass("has-success has-error");
        reset_form("#userAddModal form");

        //$("#userAddModal select").empty();
        //发出ajax请求，查询部门信息，以便在模态框下拉列表中显示
        //getDepts("#userAddModal select");
        //模态框弹出
        $("#userAddModal").modal({
            backdrop:"static"
        });

    });


    function validate_add_form(){
        //使用正则表达式校验
        //1.校验用户名
        var userName=$("#username_add_input").val();
        var regName=/(^[a-zA-Z0-9_-]{6,16}$)|(^[\u2E80-\u9FFF]{2,5}$)/;
        if (!regName.test(userName)) {
            //alert( "用户名可以是2-5位中文或者6-16位英文和数字的组合");
            show_validate_msg("#username_add_input","error","用户名可以是2-5位中文或者6-16位英文和数字的组合");
            return false;
        }else {
            show_validate_msg("#username_add_input","success","允许使用的用户名");
        }
        //2.校验邮箱
        var tel=$("#tel_add_input").val();
        var regtel=/^1\d{10}$/;
        if (!regtel.test(tel)) {
            //alert( "邮箱格式不正确");
            show_validate_msg("#tel_add_input","error","电话格式不正确");
            return false;
        }else {
            show_validate_msg("#tel_add_input","success","允许使用的电话");
        }
        return true;
    }

    function show_validate_msg(ele,status,msg){
        //首先清除上次遗留元素
        $(ele).parent().removeClass("has-success has-error");
        $(ele).next("span").text("");
        if ("success"==status){
            $(ele).parent().addClass("has-success");
            $(ele).next("span").text(msg);
        } else if ("error" == status) {
            $(ele).parent().addClass("has-error");
            $(ele).next("span").text(msg);
        }
    }

    //校验用户名是否可用
    $("#username_add_input").change(function () {
        //发送ajax请求，校验用户名是否可用
        var username=this.value;
        $.ajax({
            url:"http://localhost:8080/manage/checkuser",
            data:"username="+username,
            type:"POST",
            success:function (result) {
                if (result.status==0){
                    show_validate_msg("#username_add_input","success","用户名可用");
                    $("#user_save_btn").attr("ajax-va","success");
                }else {
                    show_validate_msg("#username_add_input","error",result.msg);
                    $("#user_save_btn").attr("ajax-va","error");
                }
            }
        });
    });

    //点击保存，保存员工
    $("#user_save_btn").click(function () {
        //先进行前端校验
        if(!validate_add_form()){
            return false;
        }

        if (($("#user_save_btn").attr("ajax-va"))=="error"){
            return false;
        }

        //发送ajax请求保存员工
        $.ajax({
            url:"http://localhost:8080/manage/user",
            type:"POST",
            data:$("#userAddModal form").serialize(),
            success:function (result) {
                //alert(result.msg);
                //员工保存成功
                //关闭模态框
                if (result.status == 0) {
                    $("#userAddModal").modal('hide');
                    //来到最后一页显示刚才保存的数据
                    //发送ajax请求来到最后一页
                    to_page(totalRecord);
                }else{
                    //console.log(result);
                        show_validate_msg("#tel_add_input","error",result.msg);
                            show_validate_msg("#username_add_input","error",result.msg);
                }

            }
        });
    });

    //单个删除
    $(document).on("click",".delete_btn",function () {
        //alert($(this).parents("tr").find("td:eq(1)").text());
        var username=$(this).parents("tr").find("td:eq(2)").text();
        var userId=$(this).attr("del-id");
        if (confirm("你确定要删除【" + username + "】?")){
            $.ajax({
                url:"http://localhost:8080/manage/user/"+userId,
                type:"DELETE",
                success:function (result) {
                    alert(result.msg);
                    to_page(currentPage);
                }
            })
        }
    });

    //1.在按钮创建之前就绑定单击事件，所以绑定失败。
    //解决办法1.在按钮创建时绑定
    //2.live()方法
    //jQuery新版没有live方法，用on方法替代
    $(document).on("click",".edit_btn",function () {
        //查询信息，显示在模态框中
        getUser($(this).attr("edit-id"));
        //getDepts("#userUpdateModal select");
        //将员工id传递给模态框的更新按钮
        $("#user_update_btn").attr("edit-id",$(this).attr("edit-id"));
        //模态框弹出
        $("#userUpdateModal").modal({
            backdrop:"static"
        });
    });

    function getUser(id) {
        $.ajax({
            url:"http://localhost:8080/manage/user/"+id,
            type:"GET",
            success:function (result) {
                console.log(result);
                var userData=result.data;
                $("#username_update_input").val(userData.username);
                $("#password_update_input").val(userData.password);
                $("#tel_update_input").val(userData.tel);
            }
        });
    }

    //为更新按钮绑定事件
    $("#user_update_btn").click(function () {
        var tel=$("#tel_update_input").val();
        var regTel=/^1\d{10}$/;
        if (!regTel.test(tel)) {
            //alert( "邮箱格式不正确");
            show_validate_msg("#tel_update_input","error","电话格式不正确");
            return false;
        }else {
            show_validate_msg("#tel_update_input","success","允许使用的电话");
        }
        //发送Ajax请求
        //不能直接发送PUT请求，
        // 如果直接发送PUT请求，tomcat不会将其封装成map对象，
        //tomcat只会封装POST请求成为map对象
        //如果要直接发送PUT请求，需要在web.xml中配置org.springframework.web.filter.HttpPutFormContentFilter过滤器，SpringMVC会将PUT请求封装
        //如果不配置过滤器，也可以在data属性中添加"_method=put"
        $.ajax({
            url:"http://localhost:8080/manage/user/"+$(this).attr("edit-id"),
            type:"PUT",
            data:$("#userUpdateModal form").serialize(),
            success:function (result) {
                //alert(result.msg);
                //关闭模态框
                $("#userUpdateModal").modal('hide');
                //来到当前页面
                to_page(currentPage);
            }
        });
    });

    //全选/全不选
    $("#check_all").click(function () {
        //attr获取checked是undefined
        //dom原生的属性，用prop获取属性值，自定义属性，用attr获取
        $(".check_item").prop("checked",$(this).prop("checked"));
    });

    $(document).on("click",".check_item",function () {
        //判断当前选中元素是否为5个
        var flag=$(".check_item:checked").length==$(".check_item").length;
        $("#check_all").prop("checked",flag);
    });

    //点击全部删除，就执行批量删除
    $("#user_delete_all_btn").click(function () {
        var userNames="";
        var del_idstr="";
        $.each($(".check_item:checked"),function () {
            userNames += $(this).parents("tr").find("td:eq(2)").text()+",";
            del_idstr += $(this).parents("tr").find("td:eq(1)").text()+"-";
        });
        //去除多余的 ，
        userNames=userNames.substring(0,userNames.length-1);
        //去除多余的 -
        del_idstr=del_idstr.substring(0,del_idstr.length-1);
        if (confirm("确认删除【" + userNames + "】吗？")){
            //true表示确认删除，发送ajax请求
            $.ajax({
                url:"http://localhost:8080/manage/user/"+del_idstr,
                type:"DELETE",
                success:function (result) {
                    alert(result.msg);
                    to_page(currentPage);
                }
            });
        }
    });
</script>
</body>
</html>
