<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>光粒问答</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" type="text/css" th:href="@{../css/minor.css}">
    <link rel="stylesheet" th:href="@{../bootstrap-3.3.7-dist/css/bootstrap.min.css}" >
    <script type="text/javascript" th:src="@{../js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{../bootstrap-3.3.7-dist/js/bootstrap.min.js}" ></script>
  </head> 
  
  <body>
  <div id="top">
  	<div id="top_one"><a href="major.html"><img th:src="@{../images/logo.png}" width="200px" height="100px"></a></div>
  	<div id="top_two"><a href="major.html">首页&nbsp;&nbsp;&nbsp;</a>
    				<a href="#">话题广场&nbsp;&nbsp;&nbsp;</a>
    				<a href="#">浏览发现&nbsp;&nbsp;&nbsp;</a></div>
  	<div id="top_three"><form>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="书籍 电影 游戏 音乐...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">🔍</button>
      </span>
    </div></form>
    	</div>
    	<div id="main">
        <h2 style="margin-left: 200px;padding-top: 30px; float: left;">这两部电影，会告诉你儿童节的血腥背景</h2>
        <div style="clear: both;"></div>
        <!--清除浮动-->
        <div id="text">
            <br>
            <br>
            <p>文／王牌飞行员沈光耀

                <br>
                <br>
                <br> 今天是六一国际儿童节，从早上开始，朋友圈里的各路宝宝都在刷着屏。如今的儿童节已经不单单是“儿童”们的节日，而是演变成所有年轻人狂欢的日子。
                <br>                
                <br> 在平淡的日子里为自己找点乐子，是当今年轻人缓解压力的好方法。但其实，六一国际儿童节的背后，隐藏的是一起血腥恐怖的历史事件。而今天我要为大家介绍的两部电影《类人猿行动》和《利迪策》，则完整地还原了当年这起震惊世界的血腥事件的前因后果。
                <br>
                <br>
                <img th:src="@{../images/guanggao1.jpg}" width="700px">
                <br>
                <br>
                <br> 首先要为大家介绍的是2016年上映的《类人猿行动》。众所周知，在第二次世界大战中，纳粹德国犯下的最邪恶的罪行便是对犹太人有计划的、手段残忍的屠杀，而“犹太人最终解决计划”最积极的执行者，便是有着“金发野兽”之称的纳粹德国第三号人物莱因哈德·海德里希。
                <br>
                <br>
                <br> 在德国占领捷克斯洛伐克后，这个纳粹德国的杀人魔王成为了捷克斯洛伐克的总督，他在到任后采取“糖果加鞭子”的政策，一边大规模屠杀反抗分子，一边又用各种手段拉拢平民，比如双倍工资、发放免费电影票等，为了体现自己的亲民，他甚至在出行时不带警卫人员。而这，也引起了英国和捷克斯洛伐克流亡政府的注意。
                <br>
                <br> 《类人猿行动》的两名主角便是受英国军方和捷克斯洛伐克流亡政府之名空降到捷克首都布拉格的两名伞兵。在当地反抗组织的配合下，开始谋划刺杀海德里希，行动代号就叫“类人猿计划”。
                <br>
                <br> 然而行动并不像我们在“抗日神剧”里看到的那些刺杀行动一样英勇和顺利。捷克的地下抵抗组织始终对这起刺杀计划抱有反对态度，因为他们知道，在纳粹的眼皮子底下刺杀如此重要的领导人势必会引起大规模的报复行为，这种报复不会施加到孤悬海外的英国政府和杰克流亡政府身上，只会让捷克的百姓遭受苦难。而刺杀小组本身也充满了动摇和恐慌，甚至在刺杀现场，本该发挥主要作用的司登冲锋枪还出现了故障，靠着一枚反坦克炸弹才重伤了海德里希。刺杀发生后，希特勒空运了全欧洲最好的外科大夫到布拉格，却仍没有救下海德里希这个恶魔的命。
                <br>
                <br>
                <br> 果然不出所料，疯狂的报复行动开始了。在纳粹的疯狂行动中，布拉格附近一个叫做利迪策的村庄被完全抹掉，屠杀每天都在进行，暴行击垮了行动小组一名成员的心理防线，让他成为了叛徒。在他的指认下，纳粹开始对知情人疯狂拷打，包括砸断一个喜欢拉小提琴孩子的手指、割下他妈妈的头等等，最终让孩子供出了刺杀小组藏匿的教堂。在一番激战后，刺杀小组七人全部牺牲，其中三人在战斗中被打死，四人在战至最后开枪自杀，没有一个人选择投降。
                <br>
                <br>
                <br> 那么，这一切又跟六一国际儿童节有什么关系呢？上文中提到过，因为海德里希被刺杀，纳粹展开了疯狂报复，一个名叫利迪策的村庄被完全抹掉，而六一国际儿童节的设立，就跟这个消失的村庄有关。
                <br>
                <br>
                <br> 为了展开报复，从心理上震慑捷克人民，纳粹依据一封捕风捉影的信件把目标对准了这个美丽的村庄，在层层包围之后，纳粹开始了残忍的报复。全村十五岁以上的男性被全部枪决，剩下的妇女儿童被送往集中营进行消灭，甚至婴儿也不例外，全村104名儿童只有17人幸存至战后。不但如此，德国纳粹们还在劫掠之后将整个村子付之一炬，还动用集中营中的被囚人员专门修建了一条通往村子的铁路，将村子的所有残砖瓦砾全部运出，甚至连坟墓都不放过，最终使得这个村子完完全全的从地球上消失。
                <br>
                <br> 为了悼念1942年6月10日的利迪策惨案和全世界所有在战争中死难的儿童，反对虐杀和毒害儿童，以及保障儿童权利，1949年11月，国际妇女民主联合会在莫斯科举行理事会议，中国和其他国家的代表愤怒地揭露了帝国主义分子和各国反动派残杀、毒害儿童的罪行。会议决定以每年的6月1日为国际儿童节。
                <br>
                <br> 2011年上映的电影《利迪策》就是完整地还原了这段惨案。在影片的前半段中，我们看到的是一个风景秀美的小山村，虽然国家被纳粹德国占领，但人们的生活并没有多大改变，年轻人热烈的追逐着心仪的姑娘，老年人闲适的过着自己的生活，然而突然之间，一切都变了。
                <br>
                <br> 当影片进行到屠村的时候，我想就算是铁石心肠的人也会愤怒和流泪。人们被从家中驱赶出来，强制按性别分离，在纳粹军官的欢笑声中，房屋被烧毁，男人们被一排一排的枪决，甚至连残疾人和未成年都难逃厄运。
                <br>
                <br>
                <br> 而之后，孩子们被强制带离自己母亲的身边，他们在哭泣中被带上车，剩下母亲们绝望的用手指甲划着玻璃，想要再看自己的孩子一眼，而不久后，这些孩子便成了毒气车车窗上逐渐无力挥动的双手。影片中，一名德军士兵在目睹这一切后拔枪自杀，足见场面有多残忍。
                <br>
                <br>
                <br> 当影片中的男主角被从监狱释放回到故乡时，他再也找不到自己的家了，因为那一大片美丽的村庄，如今已是一片平地。他找到德军指挥官，想要跟自己的家乡一起陪葬的时候，那名德军军官却笑着说，一切都过去了，现在你爱说什么说什么，没人会在乎利迪策，我也不会浪费子弹去杀你。这是最让人心寒的一句话，因为那些死去的人们，特别是孩子们对德国纳粹们来说，只是一个数字而已，那些和你有着一样生存权利的人，不过如同畜生一般不值一提。
                <br>
                <br>
                <br> 把《类人猿行动》和《利迪策》这两部电影连起来看，你就会充分了解六一国际儿童节的背后，隐藏的是一段怎样血腥和悲壮的历史。跟大家说这些，并不是要让大家在以后的儿童节里去沉重，而是希望大家在和自己的孩子一同欢度节日的时候，也能想起在几十年前那些因为人类无耻战争所牺牲的孩子们，也能想起在当今的世界上，仍旧有不少的儿童生活在枪林弹雨和贫困饥饿之中，他们的童年也应该是在欢笑中度过，而不是与死亡共舞。

                <br>
                <br>
            </p>
            <br>
            <br>
            <img class="zan" src="images/logo.png" width="150px">
        </div>

        <div id="hot_topic">
            <h4 class="hot_text">热门话题</h4>
            <div style="clear: both;"></div>
            <!--清除浮动-->
            <ul>
                <li>
                    <a href="#">你收到过的最特别的一封信</a>
                </li>
                <li>
                    <a href="#">当年高考，你和什么失之交臂</a>
                </li>
                <li>
                    <a href="#">如何评价微软收购GitHub</a>
                </li>
                <li>
                    <a href="#">如果生命只剩最后一天，你会做什么</a>
                </li>
                <li>
                    <a href="#">给高中刚毕业的弟弟妹妹们写一封信</a>
                </li>
                <li>
                    <a href="#">我来试试2018高考作文题</a>
                </li>
                <li>
                    <a href="#"><img alt="" th:src="@{../images/guanggao2.jpg}" width="300px"></a>
                </li>
            </ul>
        </div>
        <div style="clear: both;"></div>
        <!--清除浮动-->
        <br>
        <br>
        <span style="margin-left: 200px">回帖</span>
        <br>
        <br>
        <hr>
        <div id="echo_content"></div>
        <div id="echo">
            <br>
            <span style="color: green;margin-left: 200px">你的回应......</span>
            <form style="margin-left: 200px">
                <textarea rows="6" cols="110" style="resize: none"></textarea>
                <br>
                <input type="submit" value="顶贴" style="margin-left: 690px">
            </form>
            <br>
            <br>
        </div>
    </div>
  </body>
</html>
