<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.liushao.guangli.mapper.AdminMapper">

    <resultMap id="BaseResultMap" type="com.liushao.guangli.entity.AdminUser">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
    </resultMap>

    <sql id="Base_Column_List">
      id, username, password
    </sql>

    <select id="findByName" parameterType="String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM admin WHERE username = #{username}
    </select>

</mapper>