<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liushao.guangli.mapper.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.liushao.guangli.entity.Article">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="context" jdbcType="VARCHAR" property="context" />
        <result column="userid" jdbcType="INTEGER" property="userID" />
        <result column="like_count" jdbcType="INTEGER" property="likeCount" />
        <result column="hot" jdbcType="INTEGER" property="hot" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
    </resultMap>

    <sql id="Base_Column_List_title">
        id, context, userid, like_count, hot, type, title, create_date, comment_count
    </sql>
    <sql id="Base_Column_List">
        id, context, userid, like_count, hot, type, title, create_date, comment_count
    </sql>
    <select id="selectAllTitle" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List_title" />
        from article
        order by ${orderby}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from article
        order by ${orderby}
    </select>
    <select id="selectByUserid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from article
        where userid = #{userID}
        order by ${orderby}
    </select>
    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from article
        where id = #{id}
    </select>
    <insert id="insert" parameterType="com.liushao.guangli.entity.Article">
        insert into article (context, userid, like_count, hot, type, title, create_date, comment_count)
        values (#{context}, #{userID}, ${0}, ${0}, #{type}, #{title},now(), ${0})
    </insert>
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from article
        where id = #{id}
    </delete>
</mapper>
